{% extends 'base.html' %} 

{% block content %}
<div id="map-canvas"></div>
<div id="mapControls">
	<div class="mapCentralize">Centralize</div>
</div>
{% endblock %}


{% block javascript %}
<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/_assets/javascript/main.js"></script>
<script src="/_assets/javascript/mapsController.js"></script>
<script>
$(document).ready(function(){
	FMS.mapsController.initialize(document.getElementById('map-canvas'), null, null, null);		
});
</script>
{% endblock %}